/* Styling for Cards */
/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.unavailable {
    color: grey;
    cursor: move;
}
.unavailable:hover {
    filter: none;
}

.card-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1.8fr;
    background: white;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.123);
}
.card-cover-container {
    position: relative;
}
.card-cover-img {
    position: relative;
    max-height: 100%;
    width: 100%;
    background-position: 50% 45%;
    object-fit: cover;
}
.card-title {
    /* This is to center the text to the image */
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

.card-info-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.8fr 0.2fr;
}
.card-info-text {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 15px;
    padding-bottom: 0px;
    font-size: 18px;
    word-wrap: break-word;
    font-family: 'Crimson Text', serif;
}

.card-stats {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #E7DCCD;
}
.card-stats-stage {
    position: relative;
    margin: auto auto;
    text-align: center;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.card-git {
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url(../resources/icons/github-icon.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s filter ease-in-out;
}
.card-git:hover {
    filter: invert(100%);
    transition: 0.2s filter ease-in-out;
}
.card-stat-detail {
    cursor: pointer;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../resources/icons/arrow.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    transition: 0.2s filter ease-in-out;
}
.card-stat-detail:hover {
    filter: invert(100%);
    transition: 0.2s filter ease-in-out;
}

/* Different setting for experiences page */
.exp-card-cover-img {
    position: relative;
    max-height: 214.28px;
    max-width: 100%;
    width: 100%;
    transform: scale(0.8);
    object-fit: contain;
}
.exp-job-title {
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}
.exp-card-stat {
    position: relative;
    margin: auto auto;
    text-align: center;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.exp-card-info-text {
    height: 100%;
    width: 100%;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    text-align: left;
    font-family: 'Crimson Text', serif;
}

@media only screen and (max-width: 1366px) {
    .card-info-text {
        font-size: 17px;
    }
}