/* === Global CSS Styling Rules === */

/* Importin Fonts */
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

/* Clear out all the paddgins and margins -- a reset if you may*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
}
p, h1, h3 {
    -webkit-user-select: none;
}
html {
    height: 100%;
    width: 100%;
    margin: auto auto;
}
body {
    height: 100%;
    width: 95%;
    flex-direction: column;
    background: #ffffff;
    margin: auto;
}
/* The Bottom part of the grid */
.main-container {
    position: relative;
    display: grid;
    height: 85%;
    grid-template-columns: 0.5fr 0.5fr;
    overflow: hidden;
}
/* Wrapper that wraps tightly around the texts */
.main-text-container {
    position: relative;
    height: auto;
    width: auto;
    top: 70%;
    left: 5%;
}
/* Individual lines of text */
.main-text {
    font-size: 24px;
    font-family: 'Saira', sans-serif;
}

/* The subsection of the landing page */
.sub-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.sub-content {
    display: inline-block;
    flex-direction: column;
    width: 90%;
    height: 85%;
    max-width: 700px;
    max-height: 700px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10%;
}
.sub-img {
    background-image: url(/resources/backgrounds/project.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    filter: blur(3.5px);
    width: 100%;
    height: 100%;
    margin: auto 0;
    transition: 0.5s filter ease-in-out;
    border-radius: 10px;
}
.sub-text {
    position: absolute;
    display: inline-block;
    text-align: center;
    color: white;
    width: 100%;
    bottom: 50%;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    transition: 1s all ease-in-out;
}
.sub-hover-txt {
    position: relative;
    bottom: 50%;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    transition: 1s all ease-in-out;
    transition: 1s all ease-in-out;
}
/* The contents which show up after hover */
.sub-reveal {
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    height: 70%;
    padding: 30px;
    word-wrap: break-word;
    transform: translateY(400px);
    opacity: 0;
    transition: 1s all ease-in-out;
}
.sub-desc-wrapper {
    position: relative;
    padding: 5px;
}
.sub-desc {
    position: relative;
    text-align: left;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.sub-ctas {
    position: relative;
    width: 99%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.sub-cta {
    text-decoration: none;
    font-family: 'Saira', sans-serif;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: 1px solid white;
    transition: 0.2s all ease-in-out;
}

/* Animation for hovering on the subpage */
.sub-content:hover .sub-img {
    filter: blur(7px);
}
.sub-content:hover .sub-text {
    bottom: 80%;
    transition: 1s all ease-in-out;
}
.sub-content:hover .sub-hover-txt {
    opacity: 0;
    transform: translateY(90px);
}
.sub-content:hover .sub-reveal {
    opacity: 1;
    transform: translateY(-1px);
}
.sub-cta:hover {
    background-color: white;
    color: black;
    transition: 0.2s all ease-in-out;
}


/* Mobile Optimization */
@media only screen and (max-width: 1366px) {
    .main-text {
        font-size: 18px;
    }
    /* Animation Adjustments */
    .sub-text-wrapper {
        position: relative;
        bottom: 50%;
        transition: 1s bottom ease-in-out;
    }
    .sub-desc {
        font-size: 17px;
    }
    .sub-hover-text, span {
        display: none;
    }
    .sub-hover-txt:after {
        content: "Hold for details";
    }
    .sub-content:hover .sub-text-wrapper {
        bottom: 80%;
        transition: 1s all ease-in-out;
    }
    .sub-content:hover .sub-text {
        transform: none;
    }
    .sub-reveal {
        padding-top: 0px;
    }
}


@media only screen and (max-width: 1023px) {
    .main-text {
        font-size: 16px;
    }
    .main-container {
        grid-template-columns: none;
        grid-template-rows: none;
    }
    .sub-wrapper {
        order: 1;
    }
    .main-wrapper {
        order: 2;
    }
    .main-text-container {
        top: 50%;
        width: 95%;
    }
    .sub-content {
        display: none;
    }
}