/* === CSS file for the menu === */
/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');


nav {
    height: 10vh;
}
.nav-links-wrapper {
    position: relative;
    top: 20%;
}
.nav-links {
    display: flex;
    list-style: none;
    width: 40%;
    height: 100%;
    margin-left: auto;
    margin-top: auto;
    justify-content: space-around;
    align-items: center;
}

.link {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
}
.status-container {
    display: flex;
    position: absolute;
    left: 1.5%;
}
.status {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    opacity: 0.2;
}

/* Distinguishes which page the user is on */
.active_link {
    /* Sets the text color to grey and puts a line under the text */
    color: #0000007e;
}
/* Animations */
#nav-animation-wrapper {
    position: relative;
    width: auto;
    height: auto;
}
#nav-animation-wrapper:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-bottom: 1.5px solid black;
    transition: all 1.5s ease-out;
}
#nav-animation-wrapper:hover:before {
    width: 100%;
    transition: all 0.5s ease-out;
}


.hamburger {
    visibility: hidden;
}

/* Ultrawide Optimization */


/* Mobile Optimization */
@media only screen and (max-width: 1400px) {
   .hamburger {
        display: flex;
        visibility: visible;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        right: 20px;
        top: 20px;
        background: rgb(0, 0, 0);
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 11;
   }
   .line {
       width: 30px;
       height: 3px;
       background: white;
       margin: 6px;
   }
   .link {
       color: white;
   }
   .nav-links-wrapper {
       visibility: hidden;
   }
   .status-container {
       visibility: visible;
       position: absolute;
       top: 30px;
       left: 10%;
   }
   .status {
       font-size: 15px;
   }
   .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: black;
        width: 100%;
        height: 100%;
        z-index: 10;
   }
   .active_link {
       color: grey;
   }
}