/* CSS for subpage projects and experiences */
/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.subpage-container {
    position: relative;
    height: 90%;
    width: 95%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.subpage-content-container {
    position: relative;
    height: 550px;
    flex-basis: 350px;
    margin: 30px;
}
/* Different setting for experiences page */
.exp-subpage-content-container {
    position: relative;
    height: 660px;
    flex-basis: 350px;
    margin: 30px;
}

.subpage-desc-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 0px;
}
.subpage-desc-title {
    position: relative;
    font-size: 50px;
    padding-bottom: 20px;
    font-family: 'Playfair Display', serif;
}
.subpage-desc-text {
    position: relative;
    margin-top: 25px;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}

/* Optimization for tablets like iPad Pro 12 inch */
@media only screen and (max-width: 1366px) {
    .subpage-content-container {
        transform: scale(0.92);
        margin: 0;
    }
    .exp-subpage-content-container {
        transform: scale(0.92);
        margin: 0;
    }
}

/* Optimization for portrait tablets */
@media only screen and (max-width: 1000px) {
    .subpage-content-container {
        margin: 20px 0px;
        transform: scale(0.96);
    }
}
