/* CSS for subpage projects and experiences */
/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.subpage-container {
    position: relative;
    height: 85%;
    width: 95%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.subpage-content-container {
    position: relative;
    height: 500px;
    flex-basis: 350px;
    margin: 30px;
}

.subpage-desc-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 0px;
}
.subpage-desc-title {
    position: relative;
    font-size: 50px;
    padding-bottom: 20px;
    font-family: 'Playfair Display', serif;
}
.subpage-desc-text {
    position: relative;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}
